click
coverage
cycler
exceptiongroup
flake8
fonttools
importlib-metadata
iniconfig
kiwisolver
matplotlib
mccabe
mypy-extensions
numpy
packaging
pathspec
Pillow
pip
platformdirs
pluggy
pycodestyle
pyflakes
pyparsing
pytest
pytest-cov
python-dateutil
setuptools
six
tomli
typed-ast
typing_extensions
zipp
